# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# mongodb cloud
# DATABASE_URL="mongodb+srv://ronywahyuuu:p4581582XazPr55C@cluster0.ftujhpg.mongodb.net/firstDB"

# mysql cloud
# DATABASE_URL="mysql://root:<password>@localhost:3306/<database_name>"

# mysql local
DATABASE_URL="mysql://root:root12345@localhost:3306/capstone_be"

# mysql local if not using password
# DATABASE_URL="mysql://root@localhost:3306/<database_name>"

# jwt secret
JWT_SECRET="coieW33#9vW*&@#)"

FIREBASE_API_KEY="firebase_api_key"

FIREBASE_AUTH_DOMAIN="firebase_auth_domain",
FIREBASE_PROJECT_ID = "firebase_project_id ",
FIREBASE_STORAGE_BUCKET = "firebase_storage_bucket",
FIREBASE_MESSAGING_SENDER_ID = "firebase_messaging_sender_id",
FIREBASE_APP_ID = "firebase_app_id",